<div class="row wrapper border-bottom white-bg page-heading"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <div class="col-lg-9 input-group">
        <h3 th:text="|备份信息 ${dbname.toUpperCase()}|"></h3>
    </div>
    <form role="search" class="navbar-form-custom pull-right" action="javascript:search_user(this);">
    <div class="form-control form-group">
    <input type="text" placeholder="查找..." class="form-control" name="top-search" id="top-search">
    </div>
    </form>
    <!--<form method="get" action="index.html" class="mail-search" action="javascript:search_user(this);">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="form-control input-sm" name="search" placeholder="查找备份...">-->
            <!--<div class="input-group-btn">-->
                <!--<button type="submit" class="btn btn-sm btn-default">-->
                    <!--<i class="fa fa-search"></i> 查找-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
    <div class="input-group-btn">
        <a data-toggle="modal"
           class="btn btn-sm btn-primary"
           th:onclick="'javascript:modalShow(\'#modal-form-backup\', \'\', \'db/\''+${dbname}+'/backup\');'"
        >
            <i class="fa fa-plus-circle"></i> 新建备份
        </a>
        <a data-toggle="modal"
           class="btn btn-sm btn-info"
           onclick="modalShow('#modal-form-user-add', '', 'user/edit/NULL');"
        >
            <i class="fa fa-upload"></i> 上传本地备份
        </a>
        <a data-toggle="modal"
           class="btn btn-sm btn-warning"
           onclick="modalShow('#modal-form-user-add', '', 'user/edit/NULL');"
        >
            <i class="fa fa-recycle"></i> 还原本地备份
        </a>
    </div>

</div>
<div class="wrapper wrapper-content animated fadeInRight" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row" th:if="${#lists.isEmpty(backups)}">
        <div class="col-lg-4">
            <!-- bg-white,bg-warning,bg-danger -->
            <div class=" contact-box center-version text-uppercase bg-white">
                <a href="javascript:void(0);">
                    <!-- circle-border m-b-md -->
                    <i class="fa fa-plus-square-o fa-5x"></i>
                    <h3 class="m-b-xs"><strong>未找到备份信息</strong></h3>
                    <div class="font-bold">
                        <small>新建备份</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- TODO 用户显示-->
        <div class="col-lg-4" th:each="backup : ${backups}">
            <!-- bg-white,bg-warning,bg-danger -->
            <div class=" contact-box center-version text-uppercase bg-white">
                <a href="profile.html">
                    <!-- circle-border m-b-md -->
                    <i class="fa fa-database fa-5x"></i>
                    <h3 class="m-b-xs"><strong class="col-lg-12 col-md-12 col-sm-12 col-xs-12 etc" th:text="${backup.dvname}"></strong></h3><br/>
                    <div>
                        <small th:text="${backup.dvtime}"></small>
                    </div>
                    <address class="m-t-md">
                        <small class="col-lg-12 col-md-12 col-sm-12 col-xs-12 etc" th:text="${backup.dvinfo}"></small>
                    </address>
                </a>
                <div class="contact-box-footer">
                    <a href="javascript:void(0);" th:onclick="'javascript:download(\''+${backup.dvid}+'\')'"
                       class="btn btn-xs btn-primary">
                        <i class="fa fa-download"></i> 下载 </a>
                    <a href="javascript:void(0);" th:onclick="'javascript:update(\''+${backup.dvid}+'\')'"
                       class="btn btn-xs btn-info">
                        <i class="fa fa-edit"></i> 修改 </a>
                    <a href="javascript:void(0);" th:onclick="'javascript:restore(\''+${backup.dvid}+'\')'"
                       class="btn btn-xs btn-warning">
                        <i class="fa fa-refresh"></i> 还原 </a>
                    <a href="javascript:void(0);" th:onclick="'javascript:delete(\''+${backup.dvid}+'\')'"
                       class="btn btn-xs btn-danger">
                        <i class="fa fa-exclamation-circle"></i> 删除</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TODO 新增备份 -->
<div id="modal-form-backup" class="modal" style="height: 550px">
    <div class="modal-dialog ">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- iCheck -->
<script src="inspinia/js/plugins/iCheck/icheck.min.js"></script>
<script type="application/javascript">
    function search_user(form) {
        alert(form);
    }
</script>