<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">上传备份</h4>
</div>
<div id="main-body" xmlns:th=http://www.thymeleaf.org>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-10">
                <form method="post" enctype="multipart/form-data" th:action="@{upload/__${dbname}__}" th:object="${backupInfoBean}"
                      class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备份名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{dvname}" th:placeholder="${dbname}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备份备注</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{dvinfo}" th:placeholder="用户没有填写">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
        </button>
        <button type="submit" class="btn btn-primary" th:onclick="'javascript:uploadBackup()'">
            开始上传
        </button>
    </div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
var dbname = [[${dbname}]];
$(document).ready(function () {
        $('.form-horizontal').ajaxForm();
});

    function uploadBackup() {
        var options = {
            beforeSubmit : function(){
                showMLoading();
            },
//          提交后的回调函数
            success: function (data,statusText) {
                hideMLoading();
                if(data.flag) {
                    modalHide(true);
                    getPage(dbname);
                    showMessage(1,'上传成功！',2);
                }else {
                    showMessage(3,data.msg,10);
                }
            },
            type: "POST",    // 默认值是form的method("GET" or "POST")，如果声明，则会覆盖
            dataType: "json",    // html（默认）、xml、script、json接受服务器端返回的类型
            clearForm: true,    // 成功提交后，清除所有表单元素的值
            resetForm: true,    // 成功提交后，重置所有表单元素的值
            timeout: 6000000    // 限制请求的时间，当请求大于3秒后，跳出请求
        };
        $('.form-horizontal').ajaxSubmit(options);
        return false;
    }
/*]]>*/
</script>

