<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.dao.DatabaseDao">
	<!--<select id="getListForMap" resultType="java.util.Map" -->
		<!--parameterType="java.lang.String">-->
		<!--${value}-->
	<!--</select>-->
	<!--<update id="executeSQL" parameterType="java.lang.String">-->
		<!--${value}-->
	<!--</update>-->
	<!--<update id="transactionUpdate" parameterType="List">-->
	<!--<foreach collection="list" item="item" index="index" separator=";">-->
		<!--${item}-->
	<!--</foreach>-->
	<!--</update>-->
</mapper>